<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
    </head>

    <body>
        <h1>My TODO list</h1>

    <% for (const todo of todos) { %>
        <div class="todo <%= todo.isDone ? "done" : ""%>">

            <input type="checkbox" class="todo-is-done" <%= todo.isDone ? "checked" : ""%>>

            <p class="todo-title"><%= todo.title %></p>

            <p class="todo-description"><%= todo.description %></p>
        </div>
    <% } %>
    </body>
</html>