.category-create-form-field, .category-edit-form-field {
    height: 25px;
    margin-right: 10px;
}

.category-edit-form {
	margin-bottom: 10px;
}

.categories-list {
	list-style-type: none;
	padding-inline-start: 10px;
}

.category-title {
	display: inline-block;
	height: 18px;
    font-size: 14px;
    border: 1px solid #093001;
    border-radius: 10px;
    padding: 0 5px;
    font-weight: bold;
	text-decoration: none;
	color: black;
}

.category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.category-controllers {
	font-size: 0;
}

.back-to-list-link {
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

.back-to-list-link:hover {
    color: #358126;
}

.back-to-list-link:visited {
    color: #093001;
}

.invisible {
    display: none;
}

.delete-btn {
	background-image: url(/images/delete.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	border: none;
	width: 15px;
	height: 15px;
	background-color: rgba(255, 255, 255, 0);
	padding: 0;
}

.delete-btn:hover {
	transform: scale(1.1);
}

.delete-btn:active {
	color: #093001;
}

.edit-btn {
	background-image: url(/images/edit.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	border: none;
	width: 15px;
	height: 15px;
	background-color: rgba(255, 255, 255, 0);
	padding: 0;
}

.edit-btn:hover {
	transform: scale(1.1);
}

.edit-btn:active {
	color: #093001;
}