.category-create-form-field {
    height: 25px;
    margin-right: 10px;
}

.categories-list {
	list-style-type: none;
	padding-inline-start: 10px;
}

.category {
    margin-bottom: 10px;
	display: inline-block;
	height: 18px;
    font-size: 14px;
    border: 1px solid #093001;
    border-radius: 10px;
    padding: 0 5px;
    font-weight: bold;
	text-decoration: none;
	color: black;
}

.back-to-list-link {
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

.back-to-list-link:hover {
    color: #358126;
}

.back-to-list-link:visited {
    color: #093001;
}

.invisible {
    display: none;
}