html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

body, p, h2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.layout-positioner {
    width: 400px;
    margin: 0 auto;
}

header {
    background-color: #093001;
    height: 85px;
    color: white;
    flex: 0 0 auto;
}

footer {
    background-color: #093001;
    height: 50px;
    color: white;
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
}

.footer-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.title-create-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-weight: normal;
    padding: 10px 0 5px 0;
}

.header-description {
    font-size: 12px;
    padding: 5px 0 10px 0;
}

h1 {
    margin: 10px 0;
}

.todo {
    width: 400px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.todo-title {
    font-size: 20px;
    font-weight: 700;
}

.todo-is-done {
    margin: 10px;
}

.todo-is-done, .todo-title {
    display: inline-block;
}

.todo-description {
    margin: 10px;
}

.done {
    background-color: #b8ffce;
    color: dimgray;
}

.done .todo-title {
    text-decoration: line-through;
}

.urgent {
    margin: 5px;
    vertical-align: bottom;
}

.create-btn {
    text-decoration: none;
    display: block;
    width: 120px;
    height: 30px;
    background-color: #093001;
    color: white;
    text-align: center;
    line-height: 30px;
    border: none;
    font-size: 16px;
}

.create-btn:hover {
    font-size: 17px;
}

.create-btn:active {
    background-color: white;
    color: #093001;
}

.todo-create-title {
    margin: 15px;
}

.delete-btn {
    line-height: 100%;
    padding: 0;
    border: none;
    background-color: #093001;
    color: white;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 15px;
    margin: 5px;
}

.delete-btn:hover {
    transform: scale(1.1);
}

.delete-btn:active {
    background-color: white;
    color: #093001;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-controllers {
    margin-right: 5px;
}

.edit-btn-img {
    width: 20px;
    height: 20px;
}

.create-form-grid {
    display: grid;
    grid-template-columns: 90px 300px;
    grid-template-rows: 30px 30px 30px;
    gap: 10px;
}

.close-btn {
  background-image: url(/images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.edit-link {
    cursor: default;
}

.paging {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.page-number {
    display: inline-block;
    min-width: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.current-page {
    background-color: #093001;
    color: white;
    width: 30px;
}